@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined');

* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}

:root {
	--color-background-primary: #000;
	--color-background-lighter: #23262f;
	--color-background-darker: #0d0d0e;

	--color-primary:#f4a9f9;

	--color-button-secondary:#1c1c1c;
	--color-button-border:#1c1c1c;
	--color-button-secondary-hover: #412e42;
	--color-button-primary-hover: #fbbcff;

	--color-text-primary:#fff;
	--color-text-secondary:#8e8e8e;

	--scrollbar-auto-thumb: #2c2c2c;
	--scrollbar-auto-track: #181818;

	--font: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 16px;
    height:16px;
}

::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
	border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-auto-thumb);
    min-height: 40px;
}

::-webkit-scrollbar-track {
	margin-bottom:8px;
	background-color:var(--scrollbar-auto-track);

}


html, body {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: var(--font);
}

body {
	background-color:var(--color-background-primary);
	color:var(--color-text-secondary);
	overflow-y: hidden;
	font-size:18px;
}

h1,h2,h3,h4,h5 {
	color:var(--color-text-primary);
	font-size:600;
}

button.text {
	display:grid;
	place-items: center;
	background:none;
	border:none;
	color:var(--color-text-primary);
	font-weight: 400;
	outline: none;
	cursor:pointer;
}

button.bttn {
	display:flex;
	font-size:0.9rem;
	background-color:var(--color-button-secondary);
	padding:6px 12px;
	border:none;
	border-radius: 4px;
	font-weight:600;
	transition: background .2s;
	cursor:pointer;
}

button.bttn:hover {
	background-color:var(--color-button-secondary-hover);
}

button.bttn.bttn-primary:hover {
	background-color:var(--color-button-primary-hover);
}

button.bttn.bttn-primary {
	background-color:var(--color-primary);
	color:#18031b;
}


button.bttn-icon span {
	padding-right:5px;
	font-size:.9rem;
}

input, button, textarea {
	font-family: var(--font);
}

textarea, input {
	background-color:rgb(14, 14, 15);
	border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
	color:var(--color-text-secondary);

	padding:6px 12px;
	font-size:0.85rem;
}
